.causal-panel {
  position: absolute;
  top: 20px;
left: 130px !important;
  width: 420px;
  background: rgba(255,255,255,0.92);
  padding: 14px;
  border-radius: 8px;
  z-index: 9999;
  font-family: sans-serif;
  font-size: 14px;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
}


h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}


.causal-description {
  font-size: 0.8rem;
  padding-top: 5px;
  color: #000000;
  line-height: 1.3;
}
