.causal-panel {
  position: absolute;
  bottom: 12px;
left: 50% !important;
transform: translateX(-50%) !important;
  width: 980px;
  padding: 14px;
  border-radius: 8px;
  z-index: 9999;
  font-family: sans-serif;
  font-size: 14px;
}


h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}


.causal-description {
  font-size: 0.8rem;
  padding-top: 5px;
  color: #000000;
  line-height: 1.3;
}
