/* citation.css */
.citation-readout {
  position: fixed;
  bottom: 10px !important;
  right:.7%;
  max-width: 250px;

  padding: 8px 10px;
  background: rgba(246, 246, 246, 0.59);
  color: #000000;

  border-radius: 8px;
  font-size: 10px !important;
  line-height: 1.25;

  z-index: 2;
  backdrop-filter: blur(3px);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* Hide on mobile */
@media (max-width: 915px) {
  .citation-readout {
    display: none !important;
  }
}
