/* PAGE LAYOUT */
.cld-container2 {
  width: 940px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.55;
}

.cld-content2:empty {
  display: none;
}

.cld-header2 {
  text-align: center;
  margin-bottom: 25px;
}

.cld-header2 h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: -2px;
}

.cld-subtitle2{
  margin-top: -20px;
}

/* TABS */
.cld-tabs2 {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cld-tab2 {
  padding: 10px 10px;
  border-radius: 6px;
  border: 1px solid #bfbfbf;
  background: #ffffff;
  cursor: pointer;
  font-size: 0.9rem;
  border-color: #002afb;
}

.cld-tab2:hover {
  background: #c6d2ff;
}

.cld-tab2.active {
  background: #1a73e8;
  border-color: #1a73e8;
  color: white;
}

/* CONTENT AREA */
.cld-content2 {
  background: rgba(255, 255, 255, 0.913);
  border: 1px solid #dcdcdc;
  padding: 20px;
  border-radius: 8px;

}

.cld-content2 h2 {
margin-top: -5px;
margin-bottom: -5px;
font-size: 1rem;
}


.cld-content2 h3 {
margin-bottom: -5px;
}

/* ASCII DIAGRAMS */
.cld-ascii2 {
  background: #fbfbfbb5;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
  overflow-x: auto;
  white-space: pre;
  font-family: "JetBrains Mono", "Courier New", monospace;
  font-size: 0.92rem;
  margin-top: 20px;
}
